@charset "utf-8";
/*common*/
*{
  margin: 0;
  padding: 0 auto;
}

body{
  color: black;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.sec-title{
  font-size: 1.5rem;
  margin-bottom: 65px;
  text-align: center;
}


img{
  max-width:100%;
 
}
.wrapper{
  max-width: 960px;
  margin: 0 auto 130px auto;
font-size:0.9rem;
padding: 0 4%;

}
section{
  padding:0 4%;
 
}


/*header*/
#header{
  max-width: 960px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4%;
}
.site-title {
  line-height: 1px;

}
.site-title a{
  display: block;
}
#header ul{
  display: flex;
  padding: 10px 0;
  width: 346px;
  font-size: 14px;

 
}
#header a{
  font-size: 14px;
}

#header li{
  margin-left: 30px;
  font-size: 0.9rem;
  
}
/*main*/
#mainvisual{
  margin-bottom: 80px;

}
#mainvisual img{
  width:100% ;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;


}
/*About*/
#about ul{
  margin-bottom: 30px;
  padding: 0;
}


#about li:first-child{
  margin-bottom: 30px;
}


#about p{
  text-align: justify;
  
}

/*work*/
#works .wrapper{
margin: 0 240px 130px;
}

#works ul{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 50px;
padding: 0;
}
#works li{
  width: 31%;
  margin-bottom: 23px;
}

/*NEWS*/
.news-1{
  display: flex;
  width: 100%;
 
}
.news-2{
  display: flex;
  width: 100%;
}
.news-3{
  display: flex;
  width: 100%;
}
.news-4{
  display: flex;
  width: 100%;
}
.news-5{
  display: flex;
  width: 100%;
}


#news dl{
display: flex;
flex-wrap: wrap;
 border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}

#news dt{
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  text-align: center;
  padding: 15px;
}

#news dd{
  width: 80%;
  border-bottom:solid 1px #c8c8c8;
  padding: 15px;
  
}
/*contact*/
.contact-1{
  display: flex;
  
}
.contact-2{
  display: flex;
}
.contact-3{
  display: flex;
}

#contact dl{

  margin-bottom: 20px;
  width:100%;
}
#contact dt{
  width: 15%;
}
#contact dd{
  width: 85%;
  margin-bottom: 10px;
}
 #contact input{
  width: 100%;

}
textarea{
  width: 100%;
  border: solid 1px #c8c8c8;
}



#contact dd input{
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px 0;
}
.wrapper textarea{
  height: 10rem;
 
}


/*button*/

.btn{
width: 200px;
background-color: black;
color: white;
padding: 15px 0;
border: solid 1px black;
cursor: pointer;
display: block;
margin:  auto;
text-align: center;
}

.btn:hover{
  background-color: white;
  color: black;
  border: solid 1px black;
}


/*footer*/

#footer{
  background-color: black;
  color: white;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}
/*max-width:600*/
@media(max-width:600px) {

#header {
  max-width: 100%;
  height:auto;
  flex-direction:column;
}
.site-title{
  margin-top: 20px;
}
.sec-title{
  margin-bottom: 40px;
}
#works ul{
  flex-direction: column;
}
#works li{
width: 100%;
}
.wrapper{
margin-bottom: 70px;
}
#news dl{
  flex-direction: column;
}
#news dt{
  width: 100%;
  border-bottom: none;
  padding-bottom: 0;
}
#news dd{
  width: 100%;
  padding-top: 0;
}
#contact dl{
  flex-direction: column;
}
#contact dt{
  width: 100px;
}
#contact dd{
  width: 100%;

}

}